[Unit]
Description=Folding@home distributed computing client
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/wink/opt/fah
ExecStart=/home/wink/opt/fah/FAHClient --config /home/wink/opt/fah/config.xml --exec-directory=/home/wink/opt/fah --data-directory=/home/wink/opt/fah

[Install]
WantedBy=multi-user.target

